@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

th {
  text-align: left;
}

a {
  text-decoration: underline;
  color: black;
}
